/* Navbar custom styles */
.navbar-custom {
  background-color:white; 
  padding: 15px 0;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: #ffffff;
}

.navbar-custom .nav-link:hover {
  color: #f39c12;
}

.navbar-custom .dropdown-menu {
  background-color: #f39c12;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover {
  background-color: #e67e22;
  color: #ffffff;
}

.navbar-custom .btn-outline-custom {
  border-color: #f39c12;
  color: #f39c12;
}

.navbar-custom .btn-outline-custom:hover {
  background-color: #f39c12;
  color: #ffffff;
}




/* Add border to the numbers */
.navbar-nav .nav-link.phone-number {
  border: 1px solid #ccc;
  padding: 2px 6px;
  border-radius: 4px;
  text-decoration: none;
}

/* Add hover effect */
.navbar-nav .nav-link.phone-number:hover {
  background-color:greenyellow;
  transition: background-color 0.3s ease;
  /* Add any other desired hover effects */
}

.custom-container{
  margin-top: -2px;
  background-color:#FFFFFF;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.itemname{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
